
<div class="row" id="landing">
	<div class="col-md-2">
	</div>
	<div class="col-md-8" id="quote">
		<p id="title_text">jumpStarter</p>
		<p id="quote_text">Fund some cool shit </p>
	</div>
	<div class="col-md-2">
	</div>
	
</div>

<div class="row" id="products_title">
	<div id="jumpstarter_title">
		<h1 id="jumpstarter_text"> Current Projects </h1>
	</div>
</div>

<div class="row" id="products_body"> 
	<div class="col-md-1"></div>
	<div class="col-md-4"></div>
	<div class="col-md-2"></div>
	<div class="col-md-4"></div>
	<div class="col-md-1"></div>
</div>