

<div class="row" id="landing">
	<div class="col-md-2">
	</div>
	<div class="col-md-8" id="quote">
		<p id="title_text">jumpStarter</p>
		<p id="quote_text">Fund some cool shit </p>
	</div>
	<div class="col-md-2">
	</div>
	
</div>

<div class="row" id="projects_title">
	<div id="jumpstarter_title">
		<h1 id="jumpstarter_text"> Current Projects </h1>
	</div>
</div>

<div id="projects_body"> 
	<div id="project_container">
		<% @projects.each do |p| %>
		<div class="project_box">
			<img class="placeholder_img" src="https://placehold.it/2400x1600">
			<div class="text_holder">
				<p class="project_name"><%= p.name %></p>
				<p class="description"> <%= p.description %></p>
				<p class="end_date"><%= p.end_date.to_date %></p>
				<p class="goal"><%= p.goal %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>



