<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active pic_holder">
      <img src="http://www.tumotech.com/wp-content/uploads/2014/05/fire-hands-super-hq-302329edited.jpg" alt="...">
      <div class="carousel-caption">
          <h3 class="quotation">Inspire Change</h3>
      </div>
    </div>
    <div class="item pic_holder">
      <img src="http://viavox.pl/wp-content/uploads/2015/06/HR-Technology-Trends.jpg" alt="...">
      <div class="carousel-caption">
          <h3 class="quotation">Build a Better Future</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<a name="projects_display">
<div class="row" id="projects_title">
</a>
	<div id="jumpstarter_title">
		<h1 id="jumpstarter_text"> Current Projects </h1>
	</div>
</div>

<div id="projects_body">
	<div id="project_container">
		<% @projects.each do |p| %>
		<div class="project_box">
			<img class="placeholder_img" src="https://placehold.it/2400x1600">
			<div class="text_holder">
				<p class="project_name"><%= link_to p.name, project_path(p) %> </p></p>
				<p class="description"> <%= p.description %></p>
				<p class="end_date">End Date: <%= p.end_date.to_s.to_date %></p>
				<p class="goal">Fundraising Goal: <%= p.goal %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>


<script>
    $('.carousel').carousel({
        interval: 6000
    })
</script>

