<h1>Find your account</h1>

<h5>Enter your email</h5>

<%= form_tag ('submit_forgot_password') do %>
   <div>
        <label for="mail">E-mail:</label>
        <input name="email" type="email" id="mail" />
    </div>

  <div class="button">
        <button type="submit">Search</button>
    </div>


<% end %>